body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(40, 49, 54);
}

.visually-hidden {
    display: none;
}

.main-header-title {
    font-size: 55px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: center;
}

.modal-write-us-title {
    font-size: 45px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: left;
  }
  